<h2>Lista de tarefas</h2>

<button (click)="toggleTheme()">
    {{ darkMode ? '☀️ Modo Claro' : '🌙 Modo Escuro' }}
</button>

<form [formGroup]="tarefaForm" (ngSubmit)="salvar()">
    <p>
        <label>Descrição: </label>
        <input type="text" formControlName="descricao" />
    </p>
    <p>
        <label>Data: </label>
        <input type="date" formControlName="data" />
    </p>
    <p>
        <label>Hora: </label>
        <input type="time" formControlName="hora" />
    </p>
    <p>
        <label>responsavel: </label>
        <input type="text" formControlName="responsavel" />
    </p>
    <p>
        <label>Concluida: </label>
        <input type="checkbox" formControlName="concluida" />
        {{ tarefaForm.get('concluida')?.value ? '✅' : '❌' }}
    </p>
    <p>
        <button type="submit">
            {{
            tarefaIdEdicao ? "Atualizar" : "Cadastrar"
            }}
        </button>
    </p>
</form>

<div class="container">
    @for(tarefa of tarefas; track $index){
    <div class="tarefa">
        <h3>Tarefa a ser realizada: {{ tarefa.descricao }}</h3>
        <p>Fazer dia {{ tarefa.data | date:'dd/MM/yyyy' }} às {{ tarefa.hora }}</p>
        <p>Deverá ser feita por {{ tarefa.responsavel}}</p>
        <p>Concluída? {{ tarefa.concluida ? '✅' : '❌' }}</p>
    </div>
    }
</div>